@use "../base/variables" as *;

.card {
  background: var(--card-bg);
  padding: 28px;
  border-radius: 12px;
  margin-bottom: 32px;
  border: 1px solid var(--border-color);

  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease;

  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.12);
  border-color: var(--accent-color);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 14px;
}

.project-meta {
  margin-bottom: 16px;
}

