@use "../base/variables" as *;

.card {
  background: var(--card-bg);
  padding: 20px;          
  border-radius: 12px;    
  margin-bottom: 32px;    
  border: 1px solid var(--border-color);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card h3 {
  margin-bottom: 12px;
  font-size: 20px;
}

.card p {
  margin-bottom: 16px;
}


