@use "../base/variables" as *;

.portfolio-links a {
  color: var(--heading-color);
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
}

.portfolio-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--accent-color);
  transition: width 0.3s ease;
}

.portfolio-links a:hover::after {
  width: 100%;
}
