@use "../base/variables" as *;

.section h2 {
  margin-bottom: 25px;
  position: relative;
}

.section h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 40px;
  height: 2px;
  background: var(--accent-color);
}

.section p {
  margin-bottom: 16px;
}

.section h4 {
  margin-bottom: 16px;
  font-size: 1.2em;
  font-weight: 600;
}
