@use "../base/variables" as *;

.section h2 {
  margin-bottom: 48px;
  position: relative;
}

.section h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 40px;
  height: 3px;
  background: var(--accent-color);
}
